{% extends "base.html" %}

{% block content %}
{% if not current_user.is_authenticated %}
<h1 class="title">
  Food suggestion
</h1>
<h2 class="subtitle">
  Please login to use our application
</h2>
{% endif %}
{% if current_user.is_authenticated %}
<h1 class="title">
  Food suggestion Today!!
</h1>
<h2 class="subtitle">
  Please enjoy
</h2>
<ul>
  <div class="columns is-gapless	">
    <div class="column has-background-white">
      <p class="box">Food name</p>
    </div>
    <div class="column has-background-white">
      <p class="box">Food Picture</p>
    </div>
    <div class="column ">

    </div>
  </div>
  
  {% with messages = get_flashed_messages() %}
  {% if messages[0]==1 %}
  <div class="notification is-success">
    The menu have been added to your favoraite list.
  </div>
  {% endif %}
  {% if messages[0]==0 %}
  <div class="notification is-danger">
    The menu already exists in your favorite list.
  </div>
  {% endif %}
  {% endwith %}
  {% for item in data %}

  <div class="columns ">
    <div class="column has-text-left title">
      {{item.Title}}
    </div>
    <div class="column">

      <img src="../static/FoodImages/{{item.Image_Name}}">

    </div>
    <div class="column is-align-self-center">
      <form action="/add-favorite" method="POST">
        <div class="control">
          <input name="foodTitle" value="{{item.Title}}" hidden>
          <input name="userID" value="{{userid}}" hidden>
          <input name="foodPicture" value="{{item.Image_Name}}" hidden>
          <button class="button is-link has-background-primary">Add to favorite</button>
        </div>
      </form>

    </div>
  </div>

  {% endfor %}

</ul>
{% endif %}
{% endblock %}